body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.sidebar {
    background-color: #0284c7;
    color: white;
}

h1 {
    margin: 0;
}

.icon {
    display: flex;
    align-items: center;
    padding: 16px;
}

ul {
    list-style-type: none;
    padding: 16px;
}

li {
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

svg {
    padding-right: 16px;
}

.top-header {
    display: flex;
    align-items: center;
    padding: 16px 42px;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.top-header img {
    width: 42px;
    height: 42px;
    padding-left: 12px;
    padding-right: 22px;
}

input[type=text] {
    width: 600px;
    height: 24px;
    border-radius: 16px;
    border: 1px solid #e2e8f0;
    background-color: #e2e8f0;
    outline: none;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 42px;
    font-size: 16px;
    font-weight: bold;
}

.bottom-header h1 {
    font-size: 22px;
    margin: 0;
}

.bottom-header p {
    margin: 0;
    margin-bottom: 8px;
}

.left img {
    padding-right: 16px;
}

button {
    background-color: #0284c7;
    border: 1px solid #0284c7;
    border-radius: 32px;
    width: 95px;
    padding: 8px 16px;
    height: 40px;
    color: white;
    font-weight: bold;
    margin-left: 32px;
}

.body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    background-color: #e2e8f0;
    padding: 16px;
}

.cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
}

.card {
    display: grid;
    background-color: white;
    border-left: 6px solid #fbbf24;
    border-radius: 6px;
    padding: 32px 16px 16px 16px;
    width: 400px;
    box-shadow: 5px 10px 18px #cfcfcf;
}

.card h1 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
}

.card p {
    margin: 0;
}

.options {
    display: flex;
    justify-content: flex-end;
}

.left-main h2 {
    font-size: 20px;
}

.announcements, .trending {
    background-color: white;
    border-radius: 6px;
    padding: 16px 16px 16px 32px;
}

.announcements h3 {
    font-size: 14px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 2px;
}

.announcements p {
    margin: 0;
    font-size: 12px;
    padding-bottom: 8px;
}

.person {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.person img {
    width: 42px;
    height: 42px;
    padding-right: 22px;
}

.top, .bottom {
    font-size: 14px;
}

.top h2, .bottom h2 {
    margin: 0;
    margin-bottom: 8px;
}

.right-main {
    display: grid;
    row-gap: 12px;
}